# Unit 12 - Tales from the Crypto

---

## 1. Sentiment Analysis

Use the news api to pull the latest news articles for bitcoin and ethereum and create a DataFrame of sentiment scores for each coin. 

Use descriptive statistics to answer the following questions:
1. Which coin had the highest mean positive score?
2. Which coin had the highest negative score?
3. Which coin had the highest positive score?

In [13]:
# Initial imports
import pandas as pd
from dotenv import load_dotenv
import os
from newsapi import NewsApiClient

import nltk as nltk
nltk.download('vader_lexicon')
from nltk.sentiment.vader import SentimentIntensityAnalyzer
analyzer = SentimentIntensityAnalyzer()

%matplotlib inline

[nltk_data] Downloading package vader_lexicon to
[nltk_data]     C:\Users\savag\AppData\Roaming\nltk_data...
[nltk_data]   Package vader_lexicon is already up-to-date!

In [14]:
# Read your api key environment variable
load_dotenv("example.env")
api_key = os.getenv("NEWS_API_KEY")

In [15]:
# Create a newsapi client
newsapi = NewsApiClient(api_key=api_key)

In [16]:
# Fetch all the news about Facebook Libra
bitcoin_headlines = newsapi.get_everything(
    q="bitcoin", language="en", sort_by="relevancy"
)

# Print total articles
print(f"Total articles about Bitcoin: {bitcoin_headlines['totalResults']}")

bitcoin_headlines["articles"][0]

Total articles about Bitcoin: 3764

{'source': {'id': 'reuters', 'name': 'Reuters'},
 'author': 'Alexis Akwagyiram, Tom Wilson',
 'title': 'INSIGHT-How bitcoin met the real world in Africa - Reuters Africa',
 'description': 'INSIGHT-How bitcoin met the real world in Africa\xa0\xa0Reuters Africa',
 'url': 'https://af.reuters.com/article/crypto-currencies-africa-idAFL4N2FR31Q',
 'urlToImage': 'https://s1.reutersmedia.net/resources_v2/images/rcom-default.png?w=800',
 'publishedAt': '2020-09-08T06:02:00Z',
 'content': 'By Alexis Akwagyiram, Tom Wilson\r\n* Monthly crypto transfers to and from Africa rise 55% in a year\r\n* Much of the activity in Nigeria, South Africa and Kenya\r\n* Driven by small businesses and migrant… [+7730 chars]'}

In [17]:
# Fetch the Ethereum news articles
ethereum_headlines = newsapi.get_everything(
    q="ethereum", language="en", sort_by="relevancy"
)

# Print total articles
print(f"Total articles about Ethereum: {ethereum_headlines['totalResults']}")

ethereum_headlines["articles"][0]

Total articles about Ethereum: 1321

{'source': {'id': 'mashable', 'name': 'Mashable'},
 'author': 'Stan Schroeder',
 'title': 'Crypto wallet MetaMask finally launches on iOS and Android, and it supports Apple Pay',
 'description': "If you've interacted with cryptocurrencies in the past couple of years, there's a good chance you've used MetaMask. It's a cryptocurrency wallet in the form of a browser extension that supports Ethereum and its ecosystem, making it easy to connect with a dece…",
 'url': 'https://mashable.com/article/metamask-ios-android/',
 'urlToImage': 'https://mondrian.mashable.com/2020%252F09%252F02%252Ffd%252Fe724b5edb4b644dba45958e17ad591e1.6b9c6.png%252F1200x630.png?signature=xIKBM112GVhTA9mUq0DRjCVGWSE=',
 'publishedAt': '2020-09-02T16:00:00Z',
 'content': "If you've interacted with cryptocurrencies in the past couple of years, there's a good chance you've used MetaMask. It's a cryptocurrency wallet in the form of a browser extension that supports Ether… [+2291 chars]"}

In [22]:
# Create the Bitcoin sentiment scores DataFrame
bitcoin_sentiments = []

for article in bitcoin_headlines["articles"]:
    try:
        text = article["content"]
        date = article["publishedAt"][:10]
        sentiment = analyzer.polarity_scores(text)
        compound = sentiment["compound"]
        pos = sentiment["pos"]
        neu = sentiment["neu"]
        neg = sentiment["neg"]
        
        bitcoin_sentiments.append({"text": text, "date": date, "compound": compound, "positive": pos, "neutral": neu, "negative": neg})
    except AttributeError:
        pass
    
# Create Dataframe
bitcoin_df = pd.DataFrame(bitcoin_sentiments)

# Reorder DataFrame columns
columns = ["date", "text", "compound", "positive", "negative", "neutral"]
bitcoin_df = bitcoin_df[columns]
bitcoin_df.head()

,date,text,compound,positive,negative,neutral
0,2020-09-08,"By Alexis Akwagyiram, Tom Wilson\r\n* Monthly ...",0.0000,0.000,0.000,1.000
1,2020-08-23,“The COVID-19 pandemic has resulted in a mass ...,0.2732,0.063,0.000,0.937
2,2020-08-07,In what appears to be a massive coordinated st...,-0.1280,0.000,0.046,0.954
3,2020-09-08,"LAGOS/LONDON (Reuters) - Four months ago, Abol...",0.0000,0.000,0.000,1.000
4,2020-08-17,LONDON (Reuters) - Bitcoin jumped to its highe...,0.3818,0.069,0.000,0.931

In [23]:
# Create the Ethereum sentiment scores DataFrame
ethereum_sentiments = []

for article in ethereum_headlines["articles"]:
    try:
        text = article["content"]
        date = article["publishedAt"][:10]
        sentiment = analyzer.polarity_scores(text)
        compound = sentiment["compound"]
        pos = sentiment["pos"]
        neu = sentiment["neu"]
        neg = sentiment["neg"]
        
        ethereum_sentiments.append({"text": text, "date": date, "compound": compound, "positive": pos, "neutral": neu, "negative": neg})
    except AttributeError:
        pass
    
# Create Dataframe
ethereum_df = pd.DataFrame(ethereum_sentiments)

# Reorder DataFrame columns
columns = ["date", "text", "compound", "positive", "negative", "neutral"]
ethereum_df = ethereum_df[columns]
ethereum_df.head()

,date,text,compound,positive,negative,neutral
0,2020-09-02,If you've interacted with cryptocurrencies in ...,0.7506,0.209,0.0,0.791
1,2020-09-07,TL;DR: The Complete Stock and Cryptocurrency I...,0.0000,0.000,0.0,1.000
2,2020-08-17,TL;DR: The Mega Blockchain Mastery Bundle is o...,0.0000,0.000,0.0,1.000
3,2020-08-26,LONDON (Reuters) - It sounds like a surefire b...,0.7579,0.181,0.0,0.819
4,2020-08-25,NEW YORK (Reuters) - Brooklyn-based technology...,0.0000,0.000,0.0,1.000

In [24]:
# Describe the Bitcoin Sentiment
bitcoin_df.describe()

        compound   positive   negative    neutral
count  20.000000  20.000000  20.000000  20.000000
mean    0.393430   0.075000   0.002300   0.922700
std     0.234643   0.046302   0.010286   0.043434
min    -0.128000   0.000000   0.000000   0.802000
25%     0.354650   0.067500   0.000000   0.910000
50%     0.507000   0.090000   0.000000   0.910000
75%     0.507000   0.090000   0.000000   0.932500
max     0.750600   0.198000   0.046000   1.000000

In [25]:
# Describe the Ethereum Sentiment
ethereum_df.describe()

        compound   positive   negative    neutral
count  17.000000  17.000000  17.000000  17.000000
mean    0.156718   0.066118   0.027588   0.906353
std     0.350926   0.065045   0.057046   0.092206
min    -0.599400   0.000000   0.000000   0.732000
25%     0.000000   0.000000   0.000000   0.841000
50%     0.000000   0.062000   0.000000   0.924000
75%     0.401900   0.093000   0.000000   1.000000
max     0.757900   0.209000   0.189000   1.000000

### Questions:

Q: Which coin had the highest mean positive score?

A: Bitcoin had the highest mean postive score between the two coins at 0.075

Q: Which coin had the highest compound score?

A: Ethereum had the highest compound score, with a max score of 0.7579 

Q. Which coin had the highest positive score?

A: Ethereum also had the highest postive score, with a max positive score of 0.209

---

## 2. Natural Language Processing
---
###   Tokenizer

In this section, you will use NLTK and Python to tokenize the text for each coin. Be sure to:
1. Lowercase each word
2. Remove Punctuation
3. Remove Stopwords

In [10]:
from nltk.tokenize import word_tokenize, sent_tokenize
from nltk.corpus import stopwords
from nltk.stem import WordNetLemmatizer, PorterStemmer
from string import punctuation
import re

In [11]:
# Expand the default stopwords list if necessary
# YOUR CODE HERE!

In [12]:
# Complete the tokenizer function
def tokenizer(text):
    """Tokenizes text."""
    
    # Create a list of the words

    # Convert the words to lowercase
    
    # Remove the punctuation
    
    # Remove the stop words
    
    # Lemmatize Words into root words
    
    return tokens

In [13]:
# Create a new tokens column for Bitcoin
# YOUR CODE HERE!

In [14]:
# Create a new tokens column for Ethereum
# YOUR CODE HERE!

---

### NGrams and Frequency Analysis

In this section you will look at the ngrams and word frequency for each coin. 

1. Use NLTK to produce the n-grams for N = 2. 
2. List the top 10 words for each coin.

In [15]:
from collections import Counter
from nltk import ngrams

In [16]:
# Generate the Bitcoin N-grams where N=2
# YOUR CODE HERE!

In [17]:
# Generate the Ethereum N-grams where N=2
# YOUR CODE HERE!

In [18]:
# Use the token_count function to generate the top 10 words from each coin
def token_count(tokens, N=3):
    """Returns the top N tokens from the frequency count"""
    return Counter(tokens).most_common(N)

In [19]:
# Get the top 10 words for Bitcoin
# YOUR CODE HERE!

In [20]:
# Get the top 10 words for Ethereum
# YOUR CODE HERE!

---

### Word Clouds

In this section, you will generate word clouds for each coin to summarize the news for each coin

In [21]:
from wordcloud import WordCloud
import matplotlib.pyplot as plt
plt.style.use('seaborn-whitegrid')
import matplotlib as mpl
mpl.rcParams['figure.figsize'] = [20.0, 10.0]

In [22]:
# Generate the Bitcoin word cloud
# YOUR CODE HERE!

In [23]:
# Generate the Ethereum word cloud
# YOUR CODE HERE!

---
## 3. Named Entity Recognition

In this section, you will build a named entity recognition model for both Bitcoin and Ethereum, then visualize the tags using SpaCy.

In [24]:
import spacy
from spacy import displacy

In [25]:
# Optional - download a language model for SpaCy
# !python -m spacy download en_core_web_sm

In [26]:
# Load the spaCy model
nlp = spacy.load('en_core_web_sm')

---
### Bitcoin NER

In [27]:
# Concatenate all of the Bitcoin text together
# YOUR CODE HERE!

In [28]:
# Run the NER processor on all of the text
# YOUR CODE HERE!

# Add a title to the document
# YOUR CODE HERE!

In [29]:
# Render the visualization
# YOUR CODE HERE!

In [30]:
# List all Entities
# YOUR CODE HERE!

---

### Ethereum NER

In [31]:
# Concatenate all of the Ethereum text together
# YOUR CODE HERE!

In [32]:
# Run the NER processor on all of the text
# YOUR CODE HERE!

# Add a title to the document
# YOUR CODE HERE!

In [33]:
# Render the visualization
# YOUR CODE HERE!

In [34]:
# List all Entities
# YOUR CODE HERE!

---